@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container .content .left-col h1 {
	font-size: 90px;
	color: white;
	line-height: 10.0rem;
	float: left;
}

.container .content .right-col {
	float: right;
	margin-right: 7%;
	margin-top: 12.0rem;
	display: flex;
	align-items: center;
	border: 3px solid green;
}

.container .content .right-col p {
	font-size: 1.8rem;
	color: #5f5f5f;
	font-weight: bold;
	margin-right: 1.5rem;
}

.Songs-button {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.Songs-button .texto h2 > span {
	padding-top: 15rem;
	padding-bottom: 3rem;
	padding-left: 3.0rem;
	display: block;
	font-weight: bold;
	font-size: 5.0rem;
	color: black;
	letter-spacing: .2rem;
}


.Songs-button .container-songs .lolbutt a > button {
	font-size: 2.0rem;
  height: 10%;
	width: 40%;
  display: block;
	border: .3rem solid;
  justify-content: center;
  text-align: center;
	padding: 0.5rem 0.5rem;
	position: relative;
	background-clip: padding-box;
	background: white;
	color: #eca7a6;
	font-weight: bold;
  margin-left: auto;
  margin-right: auto;
	border-width: .3rem;
	border-radius: .4rem;
	border-color: #eca7a6;
	transition: background 0.1s ease;
}
.Songs-button .container-songs .lolbutt a > button:not(:last-child) {
  border-bottom: none;
}

.Songs-button .container-songs .lolbutt a > button:hover {
	background: #eca7a6;
	color: white;
	background-clip: padding-box;
}

.about-area {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.about-area .about-image > img {
	padding-right: 15rem;
	padding-top: 15rem;
	width: 60rem;
	float: right;
}

.about-area .about-title h2 > span {
	padding-top: 15rem;
	padding-bottom: 3rem;
	padding-left: 2.5rem;
	display: block;
	font-weight: bold;
	font-size: 5.0rem;
	color: black;
	letter-spacing: .2rem;
}

.about-area .about-title .paragraph > p {
	font-size: 1.5rem;
	padding-left: 2.5rem;
	max-width: 45%;
	padding-bottom: 2rem;
	color: #5f5f5f;
}

.about-area .about-title a > button {
	font-size: 1.5rem;
	margin-left: 2.5rem;
	border: .3rem solid;
	padding: 0.5rem 0.5rem;
	position: relative;
	background-clip: padding-box;
	background: white;
	color: #eca7a6;
	font-weight: bold;
	border-width: .3rem;
	border-radius: .4rem;
	border-color: #eca7a6;
	transition: background 0.1s ease;
}

.about-area .about-title a > button:hover {
	background: #eca7a6;
	color: white;
	background-clip: padding-box;
}

@media (max-width: 768px) {

	html{
		font-size: 70%;
	}
	.about-area .about-image > img {
		width: 80%;
	}

	.about-area .about-title h2 > span {
		padding-top: 50rem;
	}

	.about-area .about-title .paragraph > p {
		max-width: fit-content;
		padding-right: 2rem;
	}

	.footer-area .para {
		font-size: 3rem;
	}

	.footer-area .social-media {
		padding-top: 1.5rem;
	}
}

@media (max-width: 540px) {

	html{
		font-size: 45%;
	}
	.about-area .about-image > img {
		width: 80%;
	}

	.about-area .about-title .paragraph > p {
		color: #5f5f5f;
		padding: 0 3rem;
	}

	.about-area .about-title h2 > span {
		padding-top: 55rem;
	}

	.about-area .about-title a > button {
		margin-top: 2rem;
	}
}

@media (max-width: 450px) {

	html{
		font-size: 45%;
	}
	.about-area .about-image > img {
		width: 100%;
		padding: 17rem 10rem;
	}

	.about-area .about-title h2 > span {
		padding-left: 3.5rem;
	}

	.about-area .about-title .paragraph > p {
		padding: 0rem 3rem;
		max-width: fit-content;
	}
	
	.about-area .about-title a > button {
		margin-top: 2rem;
	}

	.footer-area .social-media {
		padding-top: 9.5rem;
	}

	#icon{
		width: 40%;
	}
}

@media (max-width: 360px) {
	html{
		font-size: 40%;
	}

	.about-area .about-image > img {
		padding: 15rem 10rem;
	}

	.about-area .about-title .paragraph > p {
		padding-right: 5rem;
		padding-left: 5rem;
		max-width: fit-content;
	}

	.about-area .about-title h2 > span {
		padding-left: 12rem;
	}
	
	.about-area .about-title a > button {
		margin-left: 21.5rem;
	}

	.footer-area .social-media {
		padding-top: 14rem;
	}

	#icon{
		width: 30%;
	}
}

@media (max-width: 320px) {
	html{
		font-size: 40%;
	}
	.container .content .right-col {
		float: right;
		margin-right: 1%;
		margin-top: 8rem;
	}

	.about-area .about-image > img {
		width: 110%;
		padding-left: 17rem;
	}

	.about-area .about-title h2 > span {
		padding-left: 9rem;
	}

	.about-area .about-title a > button {
		margin-left: 18.5rem;
	}

	.about-area .about-title .paragraph > p {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.footer-area h1 {
		font-size: 2.25rem;
	}
	

	.footer-area .social-media {
		padding-top: 8.5rem;
	}

	#icon{
		width: 30%;
	}
}

@media (max-width: 280px) {
	html{
		font-size: 40%;
	}
}
